#location_wrapper{
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

    #location_name{
        width: 280px;
        position: relative;
        left: 50%;
        margin-left: -140px;
        text-align: center;
        color: #fff;
        float: left;
    }

    #location_dropdown{
        width: 60px;
        position: relative;
        left: 100%;
        margin-left: -60px;
    }

    #location_button{
        height: 45px;
        width: 45px;
        background-image: url("../img/dropdown_arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    #location_button:hover {
        margin-top: 1px;
        margin-left: 1px;
        height: 43px;
        widows: 43px;
    }


#topic_wrapper {
    width:800px;
    margin-top:56px;
    padding-top:10px;
}
       
    #location_list{
        display: none;
        width: 398px;
        margin-left: -200px;
        position: fixed;
        top: 56px;
        left: 50%;
        border: 1px solid #343a40;
        border-top: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        background:rgb(151, 190, 187);
        z-index: 10;
    }

    #topic_link {
        color: inherit;
    }

    .topic {
        min-width: 500px;
        max-width: 700px;
        width: 80%;
        height:120px;
        margin: 20px auto 10px auto;
        background:rgb(151, 190, 187);
        border-radius: 5px;
    }

        .breadtext {
            width:80%;
            height:90px;
            float:left;
        }
            .breadtext h3 {
                padding: 10px 0 0 10px;
                margin:0;
                font-size: 22px;
            }

            .breadtext p {
                padding: 10px 0 0 15px;
                font-size: 13px;
            }

        .vote_wrapper {
            width: 8%;
            height: 90px;
            padding-top: 10px;
            float: right;
        }

            .arrow_up {
                height: 30%;
                background-image: url("../img/arrowdown.png");
                background-size: contain;
                background-repeat: no-repeat;
            }

            .vote_value p {
                margin: 0;
            }

            .arrow_down {
                height: 30%;
                background-image: url("../img/arrowdown.png");
                background-size: contain;
                background-repeat: no-repeat;

            }

        .creator {
            width:70%;
            height:30px;
            float:left;
        }

            .creator h4 {
                font-size:12px;
                margin:0;
                padding:7px 10px 5px;
                font-weight:400;
            }

        .timestamp {
            width:30%;
            height:30px;
            float:left;
            text-align:right;
        }

            .timestamp h4 {
                font-size:12px;
                margin:0;
                padding:7px 10px 5px;
                font-weight:400;
                opacity:0.7;
            }
