#location_wrapper{
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

    #location_name{
        width: 280px;
        position: relative;
        left: 50%;
        margin-left: -140px;
        text-align: center;
        color: #fff;
        float: left;
    }

    #location_dropdown{
        width: 60px;
        position: relative;
        left: 100%;
        margin-left: -60px;
    }

    #location_button{
        height: 45px;
        width: 45px;
        background-image: url("../img/dropdown_arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    #location_button:hover {
        margin-top: 1px;
        margin-left: 1px;
        height: 43px;
        widows: 43px;
        cursor: pointer;
    }

        .dropdown-item:hover {
            color: #fff;
            background: #343a40;
        }
       
    #location_list{
        display: none;
        width: 398px;
        margin-left: -200px;
        position: fixed;
        top: 56px;
        left: 50%;
        border: 1px solid #343a40;
        border-top: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; 
        background:rgb(151, 190, 187);
        z-index: 10;
    }

#create_link{
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    width: 120px;
    height: 32px;
    background:rgb(151, 190, 187);
    border-radius: 5px;
    z-index: 100;
}

    #create_link:hover {
        color: #fff;
        background: #343a40;
    }

    #create_button {
        padding: 3px 0 0 5px;
    }
    
#topic_wrapper {
    width:800px;
    margin-top:56px;
    margin-bottom: 90px;
    padding-top:10px;
}

    #topic_wrapper h3 {
        padding: 10px 0 0 10px;
        margin:0;
        font-size: 22px;
    }

    #topic_wrapper p {
        padding: 10px 0 0 15px;
        font-size: 13px;
    }

    #topic_wrapper h4 {
        font-size:12px;
        margin:0;
        padding:7px 10px 5px;
        font-weight:400;
        opacity:0.7;
    }

    #topic_link {
        color: inherit;
    }

    .topic {
        min-width: 500px;
        max-width: 700px;
        width: 80%;
        margin: 20px auto 10px auto;
        background:rgb(151, 190, 187);
        border-radius: 5px;
    }

        .height_wrapper {
            width: 100%;            
            overflow: hidden;
        }

            .breadtext {
                width:80%;
                min-height: 90px;
                float:left;
            }

            .vote_wrapper {
                width: 8%;
                height: 90px;
                padding-top: 5px;
                text-align: center;
                float: right;
            }

            #vote_wrapper_topic {
                height: 120px;
            }

                .arrow_up {
                    position: relative;
                    left: 50%;
                    margin-left: -12px;
                    height: 27px;
                    width: 27px;
                    background-image: url("../img/dropdown_arrow.png");
                    transform: rotate(180deg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .vote_value p {
                    margin: 0;
                    padding: 0 !important;
                }

                .arrow_down {
                    position: relative;
                    left: 50%;
                    margin-left: -13.5px;
                    height: 27px;
                    width: 27px;
                    background-image: url("../img/dropdown_arrow.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

        .creator {
            width:40%;
            height:30px;
            float:left;
        }

        .comment_holder {
            width: 10%;         
            height: 30px;
            float: left;
        }

            .comment_icon {
                width: 25px;
                height: 25px;
                margin-top: 5px;
                margin-right: 5px;
                background-image: url("../img/comment_icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0.6;
                float: right;
            }

        .report_field {
            width: 25%;
            height: 30px;
            float: left;
            text-align: right;
        }

        .timestamp {
            width:25%;
            min-width: 130px;
            height:30px;
            float: right;
            text-align:right;
        }

            
