#content{
    width: 50%;
    min-width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about_box{
    height:300px;
    width: 100%;
    border-radius: 5px;
    background: rgb(151, 190, 187);
    padding: 20px;
    margin-bottom: 20px;
}

#about_box h2{
  text-align: center;
}

#about_box p{
  text-align: center;
}

#terms_cons {
    position: relative;
    left: 50%;
    margin-left:-100px;
    width: 200px;
    text-align: center;
}

#terms_cons a {
    text-decoration: none;
    color: rgb(95, 139, 136);
}

#terms_cons a:hover {

    color: rgb(80, 100, 100);
}
