body {
    margin: 0;
    padding: 0;
    background: #b1ede8;
}

h1
 {
    font-size: 60px;
    font-family:Cambria;
   
}

#header {
    width: 300px;
    margin-right:auto;
    margin-left:auto;
}

p {
    color:#352d39;
}