.link_holder{
    position: fixed;
    bottom: 15vh;
    right: 10vh;
}

    #link{
        width: 130px;
        height: 32px;
        margin-top: 10px;
        background:rgb(151, 190, 187);
        border-radius: 5px;
        z-index: 100;
    }

        #link:hover {
            color: #fff;
            background: #343a40;
        }

        #answer_button {
            padding: 3px 0 0 0;
        }

.comment {
        min-width: 500px;
        max-width: 700px;
        width: 80%;
        margin: 20px auto 10px auto;
        background:rgb(151, 170, 187);
        border-radius: 5px;
    }

    .comment h4 {
        font-size: 12px;
        margin: 0;
        padding: 7px 10px 5px;
        font-weight: 400;
        opacity: 0.7;
    }

    .comment h3 {
        padding: 10px 0 0 10px;
        margin: 0;
        font-size: 22px;
    }

    .comment p {
        padding: 10px 0 0 15px;
        font-size: 13px;
    }

    .breadtext_comment {
        width: 80%;
        min-height: 60px;
        float: left;
    }

        .arrow_up_comment {
            height: 27px;
            width: 27px;
            float: left;
            background-image: url("../img/dropdown_arrow.png");
            transform: rotate(180deg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .vote_value_comment {
            margin: 0 3px 0 3px;
            min-width: 20px;
            padding-top: 4px;
            float: left;
        }

        .vote_value_comment p {
            padding: 0 !important;
        }

        .arrow_down_comment {
            float: left;
            height: 27px;
            width: 27px;
            margin-top: -1px;
            background-image: url("../img/dropdown_arrow.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

.comment textarea {
    width: 80%;
    margin: 2.5%;
}

.comment input {
    width: 12.5%;
    margin-top: 2.5%;
    margin-right: 2.5%;
    float: right;
}

#report_box{
  min-width: 500px;
  border-radius: 5px;
  background: rgb(151, 190, 187);
  padding: 20px;
  margin-bottom: 20px;
}

#wrapper_report{
  width: 40%;
  min-width: 500px;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment_report{
  min-width: 460px;
  max-width: 660px;
  width: 80%;
  margin: 20px auto 10px auto;
  background:rgb(151, 170, 187);
  border-radius: 5px;
}


    .comment_report h4 {
        font-size: 12px;
        margin: 0;
        padding: 7px 10px 5px;
        font-weight: 400;
        opacity: 0.7;
    }

    .comment_report h3 {
        padding: 10px 0 0 10px;
        margin: 0;
        font-size: 22px;
    }

    .comment_report p {
        padding: 10px 0 0 15px;
        font-size: 13px;
    }
